* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: rgb(247, 247, 225);
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    padding: 20px 20px 20px 20px;
    justify-content: space-around;
    align-items: center;
}

.item {
    display:flex;
    width: 60px;
    height: 60px;
    font-size: 3em;
    border: 1px solid whitesmoke;
    align-items: center;
    justify-content: center;
}

.item1 {
    background-color: rgb(250, 65, 65);
}

.item2 {
    background-color: orange;
}

.item3 {
    background-color: rgb(250, 250, 65);
}

.item4 {
    background-color: green;
}

.item5 {
    background-color: rgb(65, 65, 250);
}

.item6 {
    background-color: rgb(160, 89, 211);
}

.item7 {
    background-color: rgb(146, 36, 146);
}

.item8 {
    background-color: darkcyan;
}

.item9 {
    background-color: rgb(185, 250, 89);
}

.item10 {
    background-color: salmon;
}

.item11 {
    background-color: burlywood;
}

.item12 {
    background-color: pink;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .container {
      background-color: whitesmoke; /* Red */
      padding: 0;
    }
    .item {
        width: 100%;
        color: beige;
    }
    .item1, .item4, .item9 {
        font-size: 5em;
        height: 120px;
    }
    .item4, .item9 {
        margin-top: 5px;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 501px) and (max-width: 1000px) {
    .container {
      background-color: #ffb2b2; 
    }
    .item {
        color: #fa9090;
        font-weight: bold;
    }
    .item1, .item2, .item3{
        width: 33%;
        height: 33%;
    }
    .item4, .item5, .item6, .item7, .item8{
        width: 20%;
        height: 33%;
    }
    .item9, .item10, .item11, .item12{
        width: 25%;
        height: 33%;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 1001px) {
    .container {
      background-color: #B2D6FF;
      flex-flow: row wrap;
      height: 100vh;
    }

    .item {
        width: 90px;
        height: 90px;
        font-weight: bold;
        color: #88bffd;
    }
    .item1, .item4, .item9 {
        font-size: 5em;
        font-style:italic;
        font-weight: bold;
        height: 120px;
    }
    .item1 {
        width: 120px;
        height: 120px;
        position:fixed;
        top: 20px;
        left: 20px;
    }
    .item2 {
        position:fixed;
        top: 20px;
        left: 150px;
    }
    .item3 {
        position:fixed;
        top: 20px;
        left: 250px;
    }
    .item4 {
        width: 120px;
        height: 120px;
    }
    .item9 {
        position: absolute;
        bottom: 20px;
        right: 320px;
        width: 120px;
        height: 120px;
    }
    .item10 {
        position: absolute;
        bottom: 20px;
        right: 220px;
    }
    .item11 {
        position: absolute;
        bottom: 20px;
        right: 120px;
    }
    .item12 {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
  }